<a href="https://colab.research.google.com/github/MuraliKoushikDesu/MuraliKoushikDesu/blob/main/MuraliKoushikDesu_ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age
sorted_ages = sorted(ages)
length = len(sorted_ages)
if length % 2 == 0:
    median_age = (sorted_ages[length // 2 - 1] + sorted_ages[length // 2]) / 2
else:
    median_age = sorted_ages[length // 2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Print the results
print("Sorted ages:", sorted_ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)
print("Median age:", median_age)
print("Average age:", average_age)
print("Age range:", age_range)

Sorted ages: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Minimum age: 19
Maximum age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In [2]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador Retriever'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary and add various key-value pairs
student = {
    'first_name': 'Murali Koushik',
    'last_name': 'Desu',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'Warrensburg',
    'address': '405 Jackson st'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_data_type = type(skills)

# Modify the skills values by adding one or two skills
skills.append('C++')
skills.append('JavaScript')

# Get the dictionary keys as a list
keys_list = list(student.keys())

# Get the dictionary values as a list
values_list = list(student.values())

# Print the results
print("Dog dictionary:", dog)
print("Student dictionary:", student)
print("Length of student dictionary:", student_length)
print("Skills data type:", skills_data_type)
print("Modified skills:", skills)
print("Dictionary keys:", keys_list)
print("Dictionary values:", values_list)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador Retriever', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'Murali Koushik', 'last_name': 'Desu', 'gender': 'Male', 'age': 20, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'C++', 'JavaScript'], 'country': 'USA', 'city': 'Warrensburg', 'address': '405 Jackson st'}
Length of student dictionary: 9
Skills data type: <class 'list'>
Modified skills: ['Python', 'Java', 'C++', 'JavaScript']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Murali Koushik', 'Desu', 'Male', 20, 'Single', ['Python', 'Java', 'C++', 'JavaScript'], 'USA', 'Warrensburg', '405 Jackson st']

In [22]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Length of it_companies
print("Length of it_companies set:",len(it_companies))
print("it_companies set:",it_companies)

# Add Twitter
it_companies.add('Twitter')
print("it_companies set after adding Twitter:",it_companies)

# Insert multiple companies
it_companies.update(['Netflix', 'Intel', 'Salesforce'])
print("it_companies set after adding multiple companies:",it_companies)

# Remove a company
it_companies.remove('Oracle')
print("it_companies set after removing a company",it_companies)

# Difference between remove and discard
# remove will raise an error if element does not exist, discard will not

# Join A and B
print("Join A and B:",A | B)

# Intersection of A and B
print("Intersection of A and B:",A & B)

# Is A subset of B?
print("Is A subset of B?:",A <= B)

# Are A and B disjoint sets?
print("Are A and B disjoint sets?:",A.isdisjoint(B))

# Join A with B and B with A
print("Join A with B:",A | B)
print("Join B with A:",B | A)

# Symmetric difference between A and B
print("Symmetric difference between A and B:",A ^ B)

# Delete sets
del A
del B

# Compare length of list and set
age_set = set(age)
print("Length of age list:",len(age),"\nLength of age set:", len(age_set))

Length of it_companies set: 7
it_companies set: {'Google', 'Amazon', 'Oracle', 'Apple', 'IBM', 'Microsoft', 'Facebook'}
it_companies set after adding Twitter: {'Google', 'Amazon', 'Twitter', 'Oracle', 'Apple', 'IBM', 'Microsoft', 'Facebook'}
it_companies set after adding multiple companies: {'Oracle', 'Google', 'Amazon', 'Twitter', 'Salesforce', 'IBM', 'Intel', 'Facebook', 'Microsoft', 'Apple', 'Netflix'}
it_companies set after removing a company {'Google', 'Amazon', 'Twitter', 'Salesforce', 'IBM', 'Intel', 'Facebook', 'Microsoft', 'Apple', 'Netflix'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
s A subset of B?: True
Are A and B disjoint sets?: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [13]:
class Employee:
    count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.count += 1

    def average_salary(self, employees):
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)


class FulltimeEmployee(Employee):
    pass


# Creating instances of Employee and FulltimeEmployee classes
employee1 = Employee("John Doe", "Doe Family", 5000, "IT")
employee2 = Employee("Jane Smith", "Smith Family", 6000, "HR")
fulltime_employee = FulltimeEmployee("Mike Johnson", "Johnson Family", 7000, "Finance")

# Calling member functions
employees = [employee1, employee2, fulltime_employee]
avg_salary = employee1.average_salary(employees)

print("Number of employees:", Employee.count)
print("Average salary:", avg_salary)

Number of employees: 3
Average salary: 6000.0